.ConnectedUnknowChars {
    font-family: monospace;
    font-size: 16px;

    border-bottom: 1px solid black;
    border-top: 1px solid black;

    white-space: nowrap;
}


.ConnectedUnknowChars > span {
    background-color: #e0ffe0;

    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;

    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 1ex;
}

.ConnectedUnknowChars > span.eol {
    color: silver;
}

.ConnectedUnknowChars > span.empty { background-color: #ffd0d0; }

.ConnectedUnknowChars > span.equals { border-color: orange; }

.ConnectedUnknowChars > span.filename,
.ConnectedUnknowChars > span.key,
.ConnectedUnknowChars > span.position {
    background-color: white;
    border-right-color: black;
}

.ConnectedUnknowChars > span.found {
    background-color: #a0a0a0;

    margin-left: -0.5ex;
    margin-right: -1ex;

    width: 4ex;
}

.ConnectedUnknowChars > span.unknow {
    background-color: white;
    color: gray;
}

.ConnectedUnknowChars > span.unprintable { background-color: #d0ffff; }


.ConnectedUnknowChars > span > span {
    background-color: silver;
    border-radius: 1ex;
    box-shadow: -1ex -1ex 1ex gray;
    color: black;
    display: none;
    left: 0;
    padding: 1ex;
    position: absolute;
    z-index: 101;
}
.ConnectedUnknowChars > span:hover > span { display: block; }
