/*
  p0ss1ble.py (January 31, 2017)
  https://bitbucket.org/OPiMedia/p0ss1ble

  GPLv3 --- Copyright (C) 2016, 2017 Olivier Pirson
  http://www.opimedia.be/
*/

ul { margin-top: 0; }


.msg {
    font-family: monospace;
    font-size: 16px;

    border-bottom: 1px solid black;
    border-top: 1px solid black;

    white-space: nowrap;
}


.msg > span {
    background-color: #e0ffe0;
    border-bottom: 2px solid #f0f0f0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 1.1ex;
}

.msg > span.eol {
    color: silver;
}

.msg > span.empty { background-color: #ffd0d0; }

.msg > span.filename,
.msg > span.key,
.msg > span.position {
    background-color: white;
    border-right-color: black;
}

.msg > span.found {
    background-color: #a0a0a0;

    margin-left: -0.5ex;
    margin-right: -1ex;

    width: 4ex;
}

.msg > span.same { border-bottom-color: orange; }

.msg > span.unknow {
    background-color: white;
    color: gray;
}

.msg > span.unprintable { background-color: #d0ffff; }


.msg > span > span {
    background-color: silver;
    border-radius: 1ex;
    box-shadow: -1ex -1ex 1ex gray;
    color: black;
    display: none;
    left: 0;
    padding: 1ex;
    position: absolute;
    z-index: 101;
}
.msg > span:hover > span { display: block; }



.monospace { font-family: monospace; }

.unicode {
    border-bottom: solid 1px black;
    font-family: monospace;
    white-space: nowrap;
}
